extends layout/main/main
block title
  | Контекстная реклама 
block main
  .wrapper
    .content

      - var darkBg = false
      include includes/header/header
      .curtain
      .curtain-light

      .inside-page-video-block.inside-video
        video(muted="" loop="" autoplay="" playsinline="")
          source(src='assets/img/page-video.mp4' type="video/mp4")
        .container.indent
          .inside-video__info
            include includes/breadcrumbs
            +breadcrumbs(['Веб студия'], 'Контекстная реклама')
            .top-title Услуги веб студии Brainlab
            .inside-video__info-wrap
              .inside-video__info-col  
                h1 
                  span Настройка контекстной и
                  | таргетинговой рекламы
                .inside-video__info-btn-wrap
                  a(href="#form-js").btn.btn--filling-btn.btn--small.form-js
                    span Заказать проект
              .inside-video__info-col
                p С помощью таргетированной и контекстной рекламы Вы сможете привлекать на сайт пользователей, готовых оставить заявку, заказать услугу или приобрести товар. Широкий выбор инструментов и точная настройка позволяют обращаться к наиболее перспективной аудитории.
                p Детально разработанная стратегия продвижения, качественная настройка рекламных кампаний, регулярная оптимизации и понятная отчетность - все это является залогом успешного продвижения, которые Вы сможете получить благодаря нашим специалистам.

      .dark-bg.section-indent
        .container.indent
          h2.title.title--light.title--big Наш подход
          .list.list--dark
            mixin list(title, desc)
              .list__item.fadeInUp
                .list__top
                  h3=title
                  p=desc
            +list('Исследуем рынок','Определяем цели проекта. Изучаем нишу и сайты конкурентов. Разрабатываем стратегию развития и продвижения сайта')      
            +list('Подготовка РК','Собираем семантическое ядро. Подготавливаем рекламные креативы. Готовим структуру компаний. Согласовываем готовые рекламные компании')      
            +list('Работа на результат','Регулярно проводим анализ результативности. Предоставляем понятные и информативные отчеты. Тестируем и внедряем гипотезы для повышения конверсии.')      

      .services.section-indent
        .container.indent
          h2.title.indent Настройка контекстной и таргетированной рекламы:
          .list
            mixin list(title, desc)
              .list__item.fadeInUp
                span.circle
                .list__top
                  h3=title
                  p=desc
            +list('Разработка стратегии продвижения','Изучаем тематику бизнеса, проводим анализ конкурентов, готовим коммерческое предложение исходя из целей и задач проекта.')
            +list('Сбор семантического ядра','Подбираем перечень ключевых слов, с помощью которых пользователи могут искать Ваши товары или услуги')
            +list('Подготовка архитектуры аккаунта','Группируем ключевые слова, проводим тематическую сегментацию кампаний')
            +list('Написание продающих поисковых и медийных объявлений','Подготавливаем рекламные объявления, что бы ни одно Ваше уникальное преимущество не осталось незамеченным')
            +list('Подбор эффективных таргетингов для медийных кампаний','Транслируем объявления только заинтересованной в Вашем товаре или услуге аудитории')
            +list('Согласование и запуск РК', 'Все рекламные кампании перед запуском проходят обязательный этап согласования. Вы всегда будете в курсе, где и как работают Ваши рекламные креативы')
            +list('Ежедневный анализ результативности','Проводим регулярный анализ эффективности кампаний, чтобы своевременно выявлять новые точки роста')
            +list('Персонализированная и понятная отчетность','Подготавливаем простые, структурированные и информативные отчеты, чтобы у Вас всегда был доступ к самой актуальной информации')
            +list('Регулярная оптимизация РК под утвержденные KPI','Никогда не останавливаемся на достигнутом и всегда ищем новые пути улучшения результативности')
          

      .dark-bg.section-indent
        .container.indent
          h2.title.title--light.title--big.indent Где мы можем разместить вашу рекламу:
          .list.list--dark
            mixin list(title, desc)
              .list__item.fadeInUp
                .list__top
                  h3=title
                  p=desc
            +list('Google Ads')
            +list('Youtube')
            +list('Facebook Ads')
            +list('Instagram Ads')

                  
      include includes/portfolio
      
      include includes/questions
      
      include includes/why

      .table.section-indent 
        .container.indent
          h2.title.title--big.indent Тарифы
          .table__wrap
            table 
              thead
                tr 
                  th Тарифы
                  th Стоимость
                tr  
                  td 
                    h4 Базовый (подойдет для проекта с рекламным бюджетом до 40 000 грн)
                    ul 
                      li разработка эффективной стратегии продвижения
                      li подготовка, настройка и запуск контекстной рекламы Google Ads / таргетированной рекламы Facebook & Instagram (на выбор)
                      li регулярная отчетность по установленным KPI (еженедельная, ежемесячная)
                      li работа по медиаплану с прогнозом результативности
                      li постоянная оптимизация рекламных кампаний для улучшения показателей эффективности
                  td 12000 грн/месяц
                tr  
                  td 
                    h4 Расширенный (подойдет для проекта с рекламным бюджетом от 40 000 грн)
                    ul 
                      li разработка эффективной стратегии продвижения
                      li разработка эффективной стратегии продвижения
                      li подготовка, настройка и запуск контекстной рекламы Google Ads
                      li настройка Facebook Pixel
                      li подготовка, настройка и запуск таргетированной рекламы Facebook & Instagram
                      li регулярная отчетность по установленным KPI (еженедельная, ежемесячная)
                      li работа по медиаплану с прогнозом результативности
                      li постоянная оптимизация рекламных кампаний для улучшения показателей эффективности                
                  td 17000 грн/месяц
             
        
     
      include includes/contacts
      
      .light-bg.section-indent.about   
        .container.indent
          h2.title.indent Подробнее о настройке контекстной рекламы в Brainlab
          .about__wrap
            .about__text
              p Контекстная реклама (КР) - один из эффективнейших видов рекламы, направленный на увеличение продаж и привлечение новых клиентов. С помощью КР вы сможете привлечь на сайт пользователей, которые готовы оставить заявку на покупку товара или заявку на оформление услуги. Основное преимущество такого инструмента в том, что его могут видеть только заинтересованные пользователи, то есть потенциальные клиенты.

              p Многие владельцы бизнеса онлайн уже отметили для себя сильные стороны контекстной рекламы. А благодаря нашим специалистам, вы получите отдельно разработанную стратегию продвижения, качественную настройку рекламной компании и регулярную оптимизацию. 

              h2 Сильные стороны контекстной рекламы: 

              p SEO-оптимизация сайта —  это многокомпонентный и многогранный процесс, который состоит из нескольких подзадач:

              ul 
                li Цена. Чтобы настроить КР, пользователю не нужно иметь баснословный бюджет. Здесь работает принцип - оплата за один клик/переход на сайт.
                li Большой охват аудитории и точное попадание в ЦА.
                li Есть возможность отслеживать результаты рекламы.
                li Наличие большого количества настроек таргетинга.

              h2 Контекстная реклама: основные этапы работы             

              p Ошибочно думать, что настроить такую рекламу может каждый. Здесь мало придумать объявление, вписав в него несколько ключевых запросов. Чтобы результат не заставил себя долго ждать - обратитесь в агентство Brainlab, где специалисты настроят все правильно с учетом требований и пожеланий клиента.

              p По сути, весь процесс состоит из нескольких важных этапов. Расскажем о них подробнее.

              ul  
                li Анализ ЦА. Это важный этап без которого сложно провести эффективную рекламную компанию. Здесь важно определить, кто такой Ваш покупатель?
                li Анализ конкурентов. Важно понимать, кто является конкурентом, чтобы изучить его стратегию и стать лучше.
                li Определить цель рекламной компании. Суть в том, чтобы уточнить, чего именно хочет заказчик от КР. Например, повышение узнаваемости бренда, увеличение продаж или посещения сайта. Однако, эти цели общие. В идеале конкретизировать свои желания.
                li Семантическое ядро. Другими словами - подбор широких ключевых слов, которые позволят правильно охарактеризовать ваш товар/услугу.
                li Подбор ключевых слов и минус слов. Этот пункт связан с предыдущим. Специалист выбирает из всего списка слов только те, которые будут актуальны в конкретном случае. Также важно из этого списка убрать минус слова, те, которые являются нецелевыми.
                li Написание правильного объявления. Как правило, профессионалы умеют написать текст объявления так, чтобы оно было кликабельным.
                li Настройка. Используя инструменты google adwords специалист проводит все необходимые настройки.
                li Определение и выставление первичной ставки. Отталкиваясь от конверсии сайта, просчитывается максимальная ставка, которую можно выставить в аккаунте.
                li Запуск рекламы. После пополнения бюджета, осуществляется и запуск ppc. Веб-мастер ведет работы по сбору статистики и оптимизации рекламной компании. 

              h2 Реклама в Adwords в Киеве: кому нужны такие услуги

              p Реклама сделает сайт узнаваемым и посещаемым - это факт. Вы можете заказать контекстную рекламу в Киеве и быть уверены в том, что эффект не заставит себя долго ждать. КР необходима всем ресурсам, которые хотят увеличить посещаемость сайта и начать продавать больше. Однако, есть 3 группы сайтов, где без такой рекламы не обойтись:

              ol 
               li Новые сайты. Логично, что если сайт только создали недавно, шансов выбиться в естественную выдачу - мало. Кроме того, что сайт нужно будет наполнять контентом и оптимизировать. Должно пройти время, чтобы он стал конкурировать с другими ресурсами. А запустив рекламу вы привлечете клиентов, оказавшись вверху выдачи.
               li Ресурсы на Flash. Из-за плохой индексации сайты на Флеш почти нереально продвинуть в ТОП. Чтобы не создавать HTML- копию ресурса, можно запустить рекламу.
               li Высококонкурентные сайты. Сложно вывести сайт в ТОП у которого достаточное количество конкурентов. Конечно это реально, просто уйдет больше времени и денег. Контекстная реклама даст сравнимый прирост трафика, но по более адекватной цене. 

              h2 Настройка контекстной рекламы от Brainlab: наш подход  

              p Чтобы реклама дала свой результат, необходимо обращаться к специалистам. Веб-студия Brainlab имеет опыт в настраивании контекстной рекламы, которая дает эффективный результат.

              h2 Этапы настройки КР Brainlab Украина:

              ul
                li Разработка индивидуальной стратегии.
                li Сбор семантического ядра.
                li Написание продающего объявления.
                li Запуск рекламы (после согласования с заказчиком).
                li Ежедневный анализ и отчетность.
                li Регулярная оптимизация КР.
              
              h2 Цена на услугу зависит от бюджета заказчика. Brainlab предлагает два основных тарифа: 

              ul
                li Базовый.
                li Расширенный.

              p Контекстная реклама - задача для профессионалов. Сделайте свой бизнес прибыльным и узнаваемым.     
            .about__img   
                img(src="assets/img/logo-o.svg", alt="")
          .more.about-btn-js
            span.open Узнать больше
            span.close Скрыть

      include includes/form
    include includes/footer/footer
    include includes/modal-window

  include includes/scripts 
