extends layout/main/main
block title
  | main
block main
  .wrapper
    .content

      - var darkBg = false
      include includes/header/header
      .curtain
      .curtain-light

      .inside-page-video-block.inside-video
        video(muted="" loop="" autoplay="" playsinline="")
          source(src='assets/img/page-video.mp4' type="video/mp4")
        .container.indent
          .inside-video__info
            include includes/breadcrumbs
            +breadcrumbs(['Веб студия','Создание сайтов'], 'Дизайн сайта')
            .top-title Стоимость от 
              span.price 400 $
            .inside-video__info-wrap
              .inside-video__info-col  
                h1 Разработка вкусного  
                  span Дизайна сайта
                .inside-video__info-btn-wrap
                  a(href="#").btn.btn--filling-btn.btn--filled.btn--small
                    span Калькулятор стоимости
                  a(href="#form-js").btn.btn--filling-btn.btn--small.form-js
                    span Заказать проект
              .inside-video__info-col
                p Оформление сайта это первое что видит посетитель, поэтому важно держать баланс между содержательностью и креативностью.
                p Задача дизайна, зацепить человека в первые 2-3 секунды, заинтересовать и увеличить его время на сайте, изучая услуги и продукты компании.  

      

      .example.section-indent 
        .container.indent
          .example__wrap
            .swiper-container.exaple-sites-slider
              .swiper-wrapper
                mixin example(img, info, name)
                  .swiper-slide
                    .example__title=name
                    .example__img
                      img(src="assets/img/"+ img +"", alt="")
                    .example__info
                      p Тип сайта: 
                        span=info
                      a(href="#").btn.btn--filling-btn.btn--filled.btn--small
                        span Смотреть кейс
                +example('example1.jpg','Корпоративный сайт-каталог.', 'Корпоративный сайт-каталог бренда Fujitsu в Украине.')        
                +example('example2.jpg','Корпоративный сайт-каталог.', 'Климатические системы TCL, ПРЕДСТАВИТЕЛЬСТВО В УКРАИНЕ.')        
                +example('example3.jpg','Корпоративный сайт.', 'КОМПАНИЯ ПО УПРАВЛЕНИЮ АКТИВАМИ «АЛЬТА ИНВЕСТМЕНТ»')        
            .next-btn
              i.icon-arrow
            .prev-btn
              i.icon-arrow
              
      .dark-bg.section-indent
        .container.indent
          h2.title.title--light.title--big.indent Какие услуги мы предлагаем?
          .list.list--dark
            mixin list(title, desc)
              .list__item.fadeInUp
                .list__top
                  h3=title
                  p=desc
            +list('Дизайн сайта','Разрабатываем яркий и впечатляющий UI дизайн. Уделяем особое внимание Mobile First.')    
            +list('Разработка прототипа','Проектируем качественный UX дизайн. Продумываем путь взаимодействия пользователя с контентом.')    
            +list('Фирменный стиль','Создаем корпоративный стиль компании. Разрабатываем лого, подбираем фирменные цвета и шрифты.')    

      .process.section-indent
        .container.indent
          .process__wrap 
            .process__col
              h2.title.title--big.indent Процесс разработки дизайна сайта
              .process__desc
                mixin desc(title, desc)
                  .process__desc-item.fadeInUp 
                    .process__desc-title=title
                    p=desc
                +desc('Исследование','Анализ конкурентов и новых тенденций, поиск и разбор примеров.')
                +desc('Прототип','Прорабатывание пользовательских сценариев. Создание прототипов.')
                +desc('Контент','Формирование и размещение контента, подбор медиа элементов и применение их на прототипе.')
                +desc('Оформление','Формирование визуального ряда, проработка деталей макета. Анимация элементов сайта.')
            .process__col
              .process__video
                video(muted="" loop="" autoplay="" playsinline="")
                  source(src='assets/img/process-video.mp4' type="video/mp4")
              a(href="#").btn.btn--filling-btn.btn--filled.btn--small
                span Рассчитать стоимость

      include includes/portfolio
      
      include includes/questions
      
      include includes/why
     
      .faq.section-indent
        .container.indent 
          h2.title.indent Частые вопросы по разработке Дизайна сайта
          .faq__wrap
            mixin faq(title, desc)
              .faq__item
                .faq__title
                  span=title   
                .faq__desc 
                  p=desc
            +faq('Что входит в разработку дизайна?','Качественный дизайн включает в себя продумывание пути пользователя, разработку прототипов всех страниц сайта для всех основных разрешений экрана, а также непосредственно сами макеты страниц на основе прототипов для всех основных разрешений экрана.')
            +faq('Сколько стоит разработать UI/UX дизайн?','Бюджет зависит от количества страниц и требованиям по уровню дизайна (WOW-дизайн, строгий корпоративный, минималистичный и т.д.). Вилка цен колеблется от 400$ до 5000$. Примеры расчета вы можете посмотреть в нашем “калькуляторе стоимости”.')
            +faq('Сколько вариантов дизайна Вы делаете?','Наша задача не закидать вас множеством вариантов картинок, а сделать дизайн продуманным и эффективным для выполнения целей поставленных перед сайтом. Поэтому мы стараемся провести исследования, определить лучшие решения для отзывчивого и понятного дизайна, и показать именно тот вариант, который удовлетворит требования клиента по стилю и способу подачи информации.')
      
      include includes/contacts
      include includes/calculator
      include includes/about

      include includes/form
    include includes/footer/footer
    include includes/modal-window

  include includes/scripts 
