extends layout/main/main
block title
  | Доработка
block main
  .wrapper
    .content

      - var darkBg = false
      include includes/header/header
      .curtain
      .curtain-light

      .inside-page-video-block.inside-video
        video(muted="" loop="" autoplay="" playsinline="")
          source(src='assets/img/page-video.mp4' type="video/mp4")
        .container.indent
          .inside-video__info
            include includes/breadcrumbs
            +breadcrumbs(['Веб студия'], 'Доработка сайта')
            .inside-video__info-wrap
              .inside-video__info-col  
                h1 Доработка сайта
                .inside-video__info-btn-wrap
                  a(href="#calculator-js").btn.btn--filling-btn.btn--filled.btn--small
                    span Калькулятор стоимости
                  a(href="#form-js").btn.btn--filling-btn.btn--small.form-js
                    span Заказать проект
              .inside-video__info-col
                p Ваш сайт плохо продает? Медленно загружаются страницы? Хотите изменить дизайн или добавить новый функционал? В таком случае вам требуется грамотная доработка сайта.
                  |Наша веб-студия BRAINLAB готова помочь реализовать любые задумки. Модернизация сайта может выполняться как по вашему ТЗ, так и на основании результатов технического аудита, который покажет, что нужно исправлять.

      .dark-bg.section-indent
        .container.indent
          h2.title.title--light.title--big Что такое доработка сайта?
          .subtitle Редизайн сайта – не просто изменение оформления. Он также предусматривает серьезные правки <br>
            |в контенте и функциональности веб-ресурса. Вплоть до переезда площадки на другой движок. <br>
            |Исходя из требований заказчика редизайн веб сайта включает в себя разные пункты:





      .stage.section-indent
        .container.indent 
          h2.title.title--big.indent Кому и когда требуется доработка существующего сайта?
          p Веб-технологии развиваются семимильными шагами и со временем любой интернет-проект устаревает. А, возможно, он изначально был выполнен с ошибками (из-за неопытности разработчиков или выбора самого дешевого тарифа). Так или иначе, но техническая модернизация сайта требуется каждому интернет-проекту. Хотя понимают это далеко не все.
          p Наиболее популярной услугой в нашей веб-студии является доработка интернет сайта, занимающегося продажами товаров. Ведь интернет-магазины постоянно нуждаются в улучшении функционала и юзабилити. Над ними работают всегда, так как малейшая мелочь может существенно увеличить конверсию и, соответственно, прибыль компании. Цена доработки сайта в данном случае стоит на втором плане. Ведь любые ошибки негативно влияют на прибыльность интернет-магазина, а это для компании не допустимо.
          p Также доработка сайта в Киеве требуется владельцам любых площадок, которых не устраивает дизайн, функционал, движок. Выполняется данная работа и в том случае, если:

          .list
            mixin list(desc)
              .list__item.fadeInUp
                .list__top
                  p=desc
            +list('Просели позиции сайта в выдаче;')
            +list('Гугл разработал новые алгоритмы, к которым нужно подстроиться;')
            +list('Сайт попал под фильтр;')
            +list('Фирма провела ребрендинг;')
            +list('Резко увеличился процент отказов на сайте;')
            +list('Компания расширила товарный ассортимент или перечень услуг;')
            +list('Увеличилось количество мобильных пользователей, и нужна полноценная мобильная версия.')
          p Любой интернет-проект должен постоянно меняться, адаптироваться под современные реалии. Поэтому модернизация сайта в Киеве является одной из самой популярной услуг в нашей веб-студии.
          
          .stage__btn-wrap
            a(href="#calculator-js").btn.btn--filling-btn.btn--filled.btn--small
              span Рассчитать стоимость 

      .dark-bg.section-indent
        .container.indent
          h2.title.title--light.title--big Какие работы включает в себя модернизация сайта?
          .subtitle В зависимости от требований заказчика доработка сайта может включать в себя следующие пункты:
          .list.list--dark
            mixin list(title, desc)
              .list__item.fadeInUp
                .list__top
                  h3=title
                  p=desc
            +list('Улучшение бизнес-логики','Повышение юзабилити, чтобы пользователям было проще и удобнее пользоваться сайтом.')
            +list('Верстка','Устранение критических ошибок, оптимизация сайта под разные браузеры, разные разрешения экранов, разные устройства (ПК, смартфоны, планшеты).')
            +list('Редизайн','Изменение текущего стиля оформления, замена картинок на более качественные, доработка функционала.')
            +list('Рефакторинг','Техническая оптимизация программного кода, устранение содержащихся в нем ошибок, повышение производительности сайта (ускорение загрузки страниц и пр.).')
            +list('Создание нового функционала','Добавление онлайн-калькулятора, удобной формы заказа, галереи, настройка виджетов соцсетей, возможность оставления комментариев без регистрации и пр.')

          .subtitle
            p Стоимость доработки сайта определяется в индивидуальном порядке. Ведь она рассчитывается на основании перечня предстоящих работ. Но вы должны понимать, что доработка сайта недорого стоить не может. Дорабатывать интернет-проект, устраняя допущенные другими ошибки, всегда труднее, чем создавать с нуля. И на это уходит немало времени.
            p Поэтому, если хотите, чтобы все было сделано на совесть – техническая доработка сайта должна выполняться профессионалами. В противном случае не стоит ее делать вообще, иначе добьетесь ровно противоположного результата.

      
            
      include includes/portfolio
      
      include includes/questions
      
      include includes/why
     
      .faq.section-indent
        .container.indent 
          h2.title.indent Частые вопросы по разработке Дизайна сайта
          .faq__wrap
            mixin faq(title, desc)
              .faq__item
                .faq__title
                  span=title   
                .faq__desc 
                  p=desc
            +faq('Что входит в разработку дизайна?','Качественный дизайн включает в себя продумывание пути пользователя, разработку прототипов всех страниц сайта для всех основных разрешений экрана, а также непосредственно сами макеты страниц на основе прототипов для всех основных разрешений экрана.')
            +faq('Сколько стоит разработать UI/UX дизайн?','Бюджет зависит от количества страниц и требованиям по уровню дизайна (WOW-дизайн, строгий корпоративный, минималистичный и т.д.). Вилка цен колеблется от 400$ до 5000$. Примеры расчета вы можете посмотреть в нашем “калькуляторе стоимости”.')
            +faq('Сколько вариантов дизайна Вы делаете?','Наша задача не закидать вас множеством вариантов картинок, а сделать дизайн продуманным и эффективным для выполнения целей поставленных перед сайтом. Поэтому мы стараемся провести исследования, определить лучшие решения для отзывчивого и понятного дизайна, и показать именно тот вариант, который удовлетворит требования клиента по стилю и способу подачи информации.')
      
      include includes/contacts
      include includes/calculator
      
      .light-bg.section-indent.about   
        .container.indent
          h2.title.indent Доработка сайта в Киеве вместе с BRAINLAB
          .about__wrap
            .about__text
              p Заказать доработку сайта вы всегда можете в нашей веб-студии BRAINLAB. У нас работают профессионалы, поэтому мы готовы выполнить работы любой сложности.

              h2 Преимущества сотрудничества с нами:

              p Нам совершенно не важно, на какой CMS работает ваш ресурс, ведь в BRAINLAB выполняется:
              ol 
                li доработка сайта на OpenCart (ОпенКарт); 
                li доработка сайта на Joomla (Джумла);
                li доработка сайта на ModX (МодХ);
                li доработка сайта на WordPress (Вордпресс);
                li доработка сайта на Drupal (Друпал).

              p Иными словами, мы работаем с основными популярными движками и готовы исправить ошибки для любого проекта: интернет-магазина, блога, корпоративного сайта или сайта-визитки.

              p Цены на доработку сайта обсуждаются с каждым клиентом индивидуально, ведь они зависят от многих факторов. Сначала наши специалисты обсудят с вами детали заказа, узнают объем предстоящих работ. И уже на основании полученной информации сообщат, сколько стоит доработка сайта. А предварительную стоимость модернизации сайта можно узнать у наших менеджеров, позвонив по указанному выше телефону.

              p В общем, если хотите заказать доработку сайта – обращайтесь в любое удобное время. Для начала сотрудничества оставьте заявку на BRAINLAB. Мы вам перезвоним и назначим удобный день для обсуждения всех деталей будущего проекта.
              
            .about__img   
                img(src="assets/img/logo-o.svg", alt="")
          .more.about-btn-js
            span.open Узнать больше
            span.close Скрыть

      include includes/form
    include includes/footer/footer
    include includes/modal-window

  include includes/scripts 
