extends layout/main/main
block title
  | landing
block main
  .wrapper
    .content

      - var darkBg = false
      include includes/header/header
      .curtain
      .curtain-light

      .inside-page-video-block.inside-video
        video(muted="" loop="" autoplay="" playsinline="")
          source(src='assets/img/page-video.mp4' type="video/mp4")
        .container.indent
          .inside-video__info
            include includes/breadcrumbs
            +breadcrumbs(['Веб студия','Создание сайтов'], 'Landing page')
            .top-title Стоимость от 
              span.price 1350 $
            .inside-video__info-wrap
              .inside-video__info-col  
                h1 Нужен быстрый старт? 
                  span Заказать лендинг -
                  | лучшее решение
                .inside-video__info-btn-wrap
                  a(href="#").btn.btn--filling-btn.btn--filled.btn--small
                    span Калькулятор стоимости
                  a(href="#form-js").btn.btn--filling-btn.btn--small.form-js
                    span Заказать проект
              .inside-video__info-col
                p Landing page - это одностраничная посадочная страница, задача которой, побудить пользователя совершить целевое действие. Такое действие может быть направлено на оформление заказа, онлайн оплату или просто на получение данных потенциального клиента.
                p Мы занимаемся разработкой лендингов c высокой конверсией, с упором на дизайн и легкость восприятия информации пользователем.

      

      .example.section-indent 
        .container.indent
          .example__wrap
            .swiper-container.exaple-sites-slider
              .swiper-wrapper
                mixin example(img, info, name)
                  .swiper-slide
                    .example__title=name
                    .example__img
                      img(src="assets/img/"+ img +"", alt="")
                    .example__info
                      p Тип сайта: 
                        span=info
                      a(href="#").btn.btn--filling-btn.btn--filled.btn--small
                        span Смотреть кейс
                +example('example1.jpg','Корпоративный сайт-каталог.', 'Корпоративный сайт-каталог бренда Fujitsu в Украине.')        
                +example('example2.jpg','Корпоративный сайт-каталог.', 'Климатические системы TCL, ПРЕДСТАВИТЕЛЬСТВО В УКРАИНЕ.')        
                +example('example3.jpg','Корпоративный сайт.', 'КОМПАНИЯ ПО УПРАВЛЕНИЮ АКТИВАМИ «АЛЬТА ИНВЕСТМЕНТ»')        
            .next-btn
              i.icon-arrow
            .prev-btn
              i.icon-arrow
              
      .dark-bg.section-indent
        .container.indent
          h2.title.title--light.title--big.indent Какие задачи решает Landing page?
          .list.list--dark
            mixin list(title, desc)
              .list__item.fadeInUp
                .list__top
                  h3=title
                  p=desc
            +list('Быстрый старт','Запуск лендинга обеспечит получение заявок/продаж максимально быстро, по сравнению с запуском интернет-магазина или бизнес сайта.')    
            +list('Конверсия','Лендинг прекрасно работает на продажи. Страница полностью концентрирует внимание на продукте или услуге.')    
            +list('Увеличение прибыли','С помощью лендинга, вы можете запускать новые продукты или услуги отдельно от основного сайта.')    

      .stage-dev.section-indent
        .container.indent
          h2.title.title--big Этапы создания <br> Лендинга
          .stage-dev__wrap 
            mixin step(img, title, desc)
              .stage-dev__steps
                .stage-dev__top
                  .stage-dev__elem
                  .stage-dev__img 
                    img(src="assets/img/"+img+"", alt="")
                .stage-dev__bottom 
                  h2.stage-dev__title=title
                  p=desc
            +step('step1.png','Анализ','Исследуем продукт/услугу бизнеса, анализируем конкурентов и аудиторию компании.')
            +step('step2.png','Прототип','Создаем путь пользователя и его взаимодействие с контентом.')     
            +step('step3.png','Дизайн','Делаем сочный дизайн с призывом к действию. Создаем маркетинговые ловушки.')     
            +step('step4.png','Разработка','Делаем сайт с интерактивным дизайном, динамическими элементами и адаптивной версткой.')     
            +step('step5.png','Запуск и Аналитика','Следим за конверсией созданного лендинга. Тестируем и улучшаем результат.')  
          .stage-dev__btn-wrap 
            a(href="#calculator-js").btn.btn--filling-btn.btn--filled.btn--small
              span Рассчитать стоимость  
      
      include includes/portfolio
      
      include includes/questions
      
      include includes/why
     
      .faq.section-indent
        .container.indent 
          h2.title.indent Частые вопросы по разработке Дизайна сайта
          .faq__wrap
            mixin faq(title, desc)
              .faq__item
                .faq__title
                  span=title   
                .faq__desc 
                  p=desc
            +faq('Что входит в разработку дизайна?','Качественный дизайн включает в себя продумывание пути пользователя, разработку прототипов всех страниц сайта для всех основных разрешений экрана, а также непосредственно сами макеты страниц на основе прототипов для всех основных разрешений экрана.')
            +faq('Сколько стоит разработать UI/UX дизайн?','Бюджет зависит от количества страниц и требованиям по уровню дизайна (WOW-дизайн, строгий корпоративный, минималистичный и т.д.). Вилка цен колеблется от 400$ до 5000$. Примеры расчета вы можете посмотреть в нашем “калькуляторе стоимости”.')
            +faq('Сколько вариантов дизайна Вы делаете?','Наша задача не закидать вас множеством вариантов картинок, а сделать дизайн продуманным и эффективным для выполнения целей поставленных перед сайтом. Поэтому мы стараемся провести исследования, определить лучшие решения для отзывчивого и понятного дизайна, и показать именно тот вариант, который удовлетворит требования клиента по стилю и способу подачи информации.')
      
      include includes/contacts
      include includes/calculator
      include includes/about

      include includes/form
    include includes/footer/footer
    include includes/modal-window

  include includes/scripts 
