extends layout/main/main
block title
  | main
block main
  .wrapper
    .content

      - var darkBg = false
      include includes/header/header
      .curtain
      .curtain-light

      .inside-page-video-block.inside-video
        video(muted="" loop="" autoplay="" playsinline="")
          source(src='assets/img/page-video.mp4' type="video/mp4")
        .container.indent
          .inside-video__info
            include includes/breadcrumbs
            +breadcrumbs(['Веб студия'], 'Редизайн сайта')
            .inside-video__info-wrap
              .inside-video__info-col  
                h1 Редизайн сайта
                .inside-video__info-btn-wrap
                  a(href="#calculator-js").btn.btn--filling-btn.btn--filled.btn--small
                    span Калькулятор стоимости
                  a(href="#form-js").btn.btn--filling-btn.btn--small.form-js
                    span Заказать проект
              .inside-video__info-col
                p Дизайн сайта – первое, на что обращают внимание его посетители. Он внушает доверие к компании, усиливает бренд, увеличивает продажи. Но что если дизайн сайта не выполняет эти задачи? Тут одно из двух: либо он устарел, либо сделан непрофессионально. И в любом случае понадобится редизайн сайта.

      .dark-bg.section-indent
        .container.indent
          h2.title.title--light.title--big Что такое редизайн сайта и какие задачи он включает?
          .subtitle.indent Редизайн сайта – не просто изменение оформления. Он также предусматривает серьезные правки <br> в контенте и функциональности веб-ресурса. Вплоть до переезда площадки на другой движок. <br>
            |Исходя из требований заказчика редизайн веб сайта включает в себя разные пункты:
            
          .list.list--dark
            mixin list(title, desc)
              .list__item.fadeInUp
                .list__top
                  h3=title
                  p=desc
            +list('Редизайн логотипов','Выполняется, если лого компании устарело или является малоудобным в использовании.')    
            +list('Изменения цветовой гаммы, шрифтов','Выполняется для соответствия новому логотипу, создания нового запоминающегося дизайна, использования современных фишек.')    
            +list('Изменение контента','Для ускоренного открытия страниц избавляются от лишнего контента: удаляют устаревшие разделы и подразделы, меняют картинки на более качественные. При необходимости добавляют новый контент (те же разделы и подразделы), а также обновляют текстовую составляющую.')    
            +list('Внедрение элементов с анимацией','Они создают ощущение взаимодействия. А при грамотном применении могут даже увеличить конверсию.')    
            +list('Проработка HTML-кода','Это важно для увеличения эффективности продвижения в поисковых системах.')    
            +list('Оптимизация юзабилити','Выполняются работы по улучшению удобства пользования сайтом: создается новое меню, улучшается навигация, добавляются поисковые фильтры и прочие элементы.')    
          .subtitle Лучше всего показывают, насколько эффективен редизайн сайта, примеры наших работ. Ознакомиться с ними можно на этой же странице.


      .stage.section-indent
        .container.indent 
          h2.title.title--big.indent Как понять, что пора сделать <br> редизайн сайта?
          p Существует ряд причин, по которым легко определить, что пора сделать редизайн сайта:
          .list
            mixin list(desc)
              .list__item.fadeInUp
                .list__top
                  p=desc
            +list('Дизайн устарел. Web-технологии – одна из самых быстроразвивающихся отраслей. Ежедневно появляются новые фишки, делающие сайты более удобными. Делать редизайн рекомендуется не реже, чем раз в 5 лет. А в идеале – каждые 2-3 года.')
            +list('Переезд сайта на новый движок. Старая CMS могла содержать обилие технических ошибок. Все они исправляются при редизайне.')
            +list('Оптимизация для эффективного продвижения. Для ускорения загрузки сайта принимаются разные меры. Одна из них – редизайн.')
            +list('Плохие аналитические показатели. Если на сайте упала конверсия – он стал неинтересным для пользователей. Тут нужно прорабатывать оформление, обновлять контент, улучшать юзабилити – и эти работы как раз входят в редизайн.')
            +list('Выход фирмы на новый рынок. Если предприятие расширяет сферу деятельности, меняет маркетинговую политику, модернизирует свою продукцию – вместе с этим нужно менять и ее веб-ресурс. В подобных ситуациях выполняется полный редизайн сайта (часто – вместе с ребрендингом).')
            +list('Расширение товарного ассортимента. Первоначальная версия сайта обычно не подразумевает внесение кардинальных изменений. И для добавления новых товаров или услуг приходится выполнять редизайн.')
          .stage__btn-wrap
            a(href="#calculator-js").btn.btn--filling-btn.btn--filled.btn--small
              span Рассчитать стоимость  

      .dark-bg.section-indent
        .container.indent
          h2.title.title--light.title--big Виды редизайна: какой заказать?
          .subtitle Прежде чем редизайн сайта заказать, нужно определиться с тем, какой именно вам нужен. Всего <br> различают 4 разных вида, каждый из которых имеет свои особенности:
          .list.list--dark
            mixin list(title, desc)
              .list__item.fadeInUp
                .list__top
                  h3=title
                  p=desc
            +list('Визуальный', 'Кардинальные изменения не вносятся, дизайн только слегка освежается. Например, меняется цветовое оформление, добавляются новые картинки, анимированные элементы. При правильном подходе такой редизайн может улучшить конверсию (если новая версия понравится посетителям больше старой).')
            +list('Функциональный','Выполняется в тех случаях, когда сайт становится неудобным для посетителей. Например, когда количество информации существенно увеличилось, а юзабилити ни разу не улучшалось, и людям сложно найти нужные разделы или страницы. Функциональный редизайн подразумевает изменение навигации, рубрик, разделов, меню, фильтров.')
            +list('Технический','Выполняется для оптимизации сайта: ускорения открытия страниц, оптимизации кода и т.д. Также помогает улучшить позиции веб-ресурса в выдаче.')
            +list('Полный','Затрагивает изменение всех визуальных элементов сайта, функционала, кода. То есть, включает в себя 3 предыдущих вида редизайна')

          .subtitle Цены на редизайн сайта напрямую зависят от выбранного варианта. Ведь каждый из них включает в себя конкретный перечень работ разной сложности.

      .stage.section-indent
        .container.indent 
          h2.title.title--big.indent Основные этапы редизайна сайта
          .list
            mixin list(desc)
              .list__item.fadeInUp
                .list__top
                  p=desc
            +list('Разработка концепции. На данном этапе анализируются топовые сайты и изучаются основные решения, которые помогают сделать веб-ресурс удобным и интуитивно понятным для пользователей.')
            +list('Подготовка новой контентной составляющей. С ориентацией на нее создается новый макет.')
            +list('Разработка макета. Выполняется на основе уже готовой концепции.')
            +list('Верстка. Выполняется воплощение дизайна макета в жизнь. И заодно – создание сайта, ориентированного на конкретную аудиторию')
            +list('Программирование. Вносятся правки в код, выполняются работы по оптимизации, ускоряется открытие страниц.')
            +list('Тестирование. Проверяется работоспособность нового дизайна, удобство пользования сайтом, наличие ошибок. При необходимости вносятся оперативные правки.')
            
      include includes/portfolio
      
      include includes/questions
      
      include includes/why
     
      .faq.section-indent
        .container.indent 
          h2.title.indent Частые вопросы по разработке Дизайна сайта
          .faq__wrap
            mixin faq(title, desc)
              .faq__item
                .faq__title
                  span=title   
                .faq__desc 
                  p=desc
            +faq('Что входит в разработку дизайна?','Качественный дизайн включает в себя продумывание пути пользователя, разработку прототипов всех страниц сайта для всех основных разрешений экрана, а также непосредственно сами макеты страниц на основе прототипов для всех основных разрешений экрана.')
            +faq('Сколько стоит разработать UI/UX дизайн?','Бюджет зависит от количества страниц и требованиям по уровню дизайна (WOW-дизайн, строгий корпоративный, минималистичный и т.д.). Вилка цен колеблется от 400$ до 5000$. Примеры расчета вы можете посмотреть в нашем “калькуляторе стоимости”.')
            +faq('Сколько вариантов дизайна Вы делаете?','Наша задача не закидать вас множеством вариантов картинок, а сделать дизайн продуманным и эффективным для выполнения целей поставленных перед сайтом. Поэтому мы стараемся провести исследования, определить лучшие решения для отзывчивого и понятного дизайна, и показать именно тот вариант, который удовлетворит требования клиента по стилю и способу подачи информации.')
      
      include includes/contacts
      include includes/calculator
      
      .light-bg.section-indent.about   
        .container.indent
          h2.title.indent Редизайн сайта в Киеве вместе с BRAINLAB
          .about__wrap
            .about__text
              p Если планируете заказать редизайн сайта в Киеве – обращайтесь в нашу студию BRAINLAB.

              h2 Преимущества сотрудничества с нами:

              p Потому что они ценят опыт, профессионализм и погружение – и мы с удовольствием делаем это для вас. Наши принципы работы основаны на развитии вашего благополучия в интернет:
              ol 
                li Четкое соблюдение требований в ТЗ. 
                li Оптимальные сроки выполнения заказа. 
                li Гарантия на выполненные работы. 
                li Консультации и помощь в работе с обновленным сайтом. 
              
              p Цена редизайна сайта оговаривается в индивидуальном порядке. Ведь она зависит от множества нюансов. Например, редизайн корпоративного сайта обойдется дешевле, чем интернет-магазина. Хотя тут зависит от объема и сложности предстоящих работ.

              p В любом случае редизайн сайта недорого стоить не может. И экономить на этом не стоит – проще оставить все как есть. Если уж менять – тогда надо заказывать редизайн сайта в Украине у профессионалов. Иначе можно добиться ровно противоположного результата.

              p Чтобы заказать редизайна сайта в BRAINLAB – звоните по указанному на сайте телефону. Или оставьте заявку – мы сами перезвоним вам и назначим удобный для вас день для встречи, на которой обсудим все детали будущего проекта.

            .about__img   
                img(src="assets/img/logo-o.svg", alt="")
          .more.about-btn-js
            span.open Узнать больше
            span.close Скрыть

      include includes/form
    include includes/footer/footer
    include includes/modal-window

  include includes/scripts 
