extends layout/main/main
block title
  | SEO
block main
  .wrapper
    .content

      - var darkBg = false
      include includes/header/header
      .curtain
      .curtain-light

      .inside-page-video-block.inside-video
        video(muted="" loop="" autoplay="" playsinline="")
          source(src='assets/img/page-video.mp4' type="video/mp4")
        .container.indent
          .inside-video__info
            include includes/breadcrumbs
            +breadcrumbs(['Веб студия'], 'SEO-продвижение сайта')
            .top-title Услуги веб студии Brainlab
            .inside-video__info-wrap
              .inside-video__info-col  
                h1 
                  span SEO-продвижения
                  | сайта
                .inside-video__info-btn-wrap
                  a(href="#form-js").btn.btn--filling-btn.btn--small.form-js
                    span Заказать проект
              .inside-video__info-col
                p Предлагаем комплекс работ по оптимизации и продвижению сайта, которые будут способствовать росту объемов органического трафика и улучшения конверсий.
                p Для каждого клиента разработаем успешную стратегию для достижения поставленных KPI.
                p При выполнении всех наших рекомендаций ваш будет ранжироваться в ТОП зоне поисковых систем Google и Яндекс.

      .dark-bg.section-indent
        .container.indent
          h2.title.title--light.title--big Наш подход
          .list.list--dark
            mixin list(title, desc)
              .list__item.fadeInUp
                .list__top
                  h3=title
                  p=desc
            +list('Исследуем рынок','Определяем цели проекта. Изучаем нишу и сайты конкурентов. Разрабатываем стратегию развития и продвижения сайта')      
            +list('Анализ и развитие сайта','Детально анализируем техническую, контентную и ссылочную составляющую сайта. Исправляем все технические ошибки, пишем качественные SEO-тексты и активно развиваем ссылочный профиль сайта.')      
            +list('Работа на результат','Гарантируем увеличение объемов органического трафика и конверсий. Делаем детальные ежемесячные отчеты по выполненным работам по SEO.')      

      .services.section-indent
        .container.indent
          h2.title.indent Как мы продвигаем сайты в поисковых системах:
          .list
            mixin list(title, desc)
              .list__item.fadeInUp
                span.circle
                .list__top
                  h3=title
                  p=desc
            +list('Определяем цели проекта','Определяем и утверждаем основные KPI по поисковому продвижению.')
            +list('Анализ конкурентов','Детально анализируем нишу и конкурентов сайта.')
            +list('Стратегия SEO оптимизации сайта','На основании краткого анализа сайта, анализа конкурентов разрабатываем стратегию SEO-продвижения сайта.')
            +list('Настройка веб-аналитики','Устанавливаем системы веб-аналитики, проверяем и настраиваем цели.')
            +list('Сбор СЯ и корректировка структуры','Собираем семантическое ядро и кластеризируем запросы в группы. При необходимости, корректируем структуру сайта в соответствии с собранным СЯ.')
            +list('Техническая оптимизация','Детально анализируем техническое состояние сайта. Готовим ТЗ по исправлению ошибок и улучшению сайта.')
            +list('Контентная оптимизация','Оптимизируем текстовый контент: тексты и мета теги Title, Description.')
            +list('Ссылочная оптимизация','Проводим аудит ссылочной массы сайта. Разрабатываем стратегию по наращиванию объемов ссылочного профиля.')
            +list('Ежемесячная отчетность','Каждый месяц готовым отчетность по выполненным работам, по динамике роста ключевых запросов и объемам органического трафика')
          


      //- .stage.section-indent
      //-   .container.indent 
      //-     h2.title.title--big.indent На стоимость SEO продвижения влияют следующие факторы:
      //-     p Веб-технологии развиваются семимильными шагами и со временем любой интернет-проект устаревает. А, возможно, он изначально был выполнен с ошибками (из-за неопытности разработчиков или выбора самого дешевого тарифа). Так или иначе, но техническая модернизация сайта требуется каждому интернет-проекту. Хотя понимают это далеко не все.
      //-     p Наиболее популярной услугой в нашей веб-студии является доработка интернет сайта, занимающегося продажами товаров. Ведь интернет-магазины постоянно нуждаются в улучшении функционала и юзабилити. Над ними работают всегда, так как малейшая мелочь может существенно увеличить конверсию и, соответственно, прибыль компании. Цена доработки сайта в данном случае стоит на втором плане. Ведь любые ошибки негативно влияют на прибыльность интернет-магазина, а это для компании не допустимо.
      //-     p Также доработка сайта в Киеве требуется владельцам любых площадок, которых не устраивает дизайн, функционал, движок. Выполняется данная работа и в том случае, если:

      //-     .list
      //-       mixin list(desc)
      //-         .list__item.fadeInUp
      //-           .list__top
      //-             p=desc
      //-       +list('Просели позиции сайта в выдаче;')
      //-       +list('Гугл разработал новые алгоритмы, к которым нужно подстроиться;')
      //-       +list('Сайт попал под фильтр;')
      //-       +list('Фирма провела ребрендинг;')
      //-       +list('Резко увеличился процент отказов на сайте;')
      //-       +list('Компания расширила товарный ассортимент или перечень услуг;')
      //-       +list('Увеличилось количество мобильных пользователей, и нужна полноценная мобильная версия.')
      //-     p Любой интернет-проект должен постоянно меняться, адаптироваться под современные реалии. Поэтому модернизация сайта в Киеве является одной из самой популярной услуг в нашей веб-студии.
          
      //-     .stage__btn-wrap
      //-       a(href="#calculator-js").btn.btn--filling-btn.btn--filled.btn--small
      //-         span Рассчитать стоимость 

      .dark-bg.section-indent
        .container.indent
          h2.title.title--light.title--big.indent На стоимость SEO продвижения влияют следующие факторы:
          .list.list--dark
            mixin list(title, desc)
              .list__item.fadeInUp
                .list__top
                  h3=title
                  p=desc
            +list('Тип сайта и количество его страниц')
            +list('Уровень конкурентности в ниши')
            +list('Регион продвижения')
            +list('Объем семантического ядра')
            +list('Техническое состояние сайта')
            +list('Объемы и качество ссылочного профиля')
            +list('История продвижения сайта')

                  
      include includes/portfolio
      
      include includes/questions
      
      include includes/why
      include includes/table-price

      
        
     
      include includes/contacts
      
      .light-bg.section-indent.about   
        .container.indent
          h2.title.indent Подробнее о seo-продвижении в Brainlab
          .about__wrap
            .about__text
              p SEO-продвижение —  это комплекс мероприятий, направленный на продвижение сайта в поисковых системах. В первую очередь речь идет о наиболее популярных поисковиках — Google и «Яндексе».

              p Такая услуга может продвигать любые площадки: интернет-магазины, корпоративные ресурсы, личные и тематические блоги — это не зависит от тематики, вида сайта, количества конкурентов и других факторов. А что от них зависит, так это программа, разработка стратегии — а уже от нее цена оптимизации веб-сайта. Но если за дело берутся профессионалы из команды Brainlab, стоимость работ оправдает себя на 100%.

              h2 СЕО-продвижение: основные этапы работы

              p SEO-оптимизация сайта —  это многокомпонентный и многогранный процесс, который состоит из нескольких подзадач:

              ol 
                li Проверка технического состояния площадки (он же аудит). Чтобы оптимизировать сайт, для начала надо проверить, как он работает, и убрать ошибки, влияющие на повышение позиции в поисковиках.
                li Проверка юзабилити. То есть специалисты проверяют, насколько площадка удобна для пользователей. Иногда непродуманный интерфейс отсекает внимание посетителей и заставляет уходить их с ресурса.
                li Создание семантического ядра. Ключевые слова не только подбирают, но и распределяют по страницам сайта.
                li Внутренняя оптимизация. SEO-оптимизация на этом этапе — это огромный пласт работы. Он включает подготовку текстовой информации и другого контента, улучшение интерфейса, разные технические настройки. Необходимо полностью подготовить площадку к работе и встрече клиента.
                li Внешняя оптимизация. С этого момента начинается SEO-раскрутка — то есть использование всех внешних инструментов для улучшения позиций в поисковых системах (например, наращивание ссылочной массы).
                li Постоянный анализ результатов. Регулярное тестирование результатов и мониторинг ситуации позволяют вовремя выявлять ошибки, устранять их, а также использовать возможности, способные дать лучший результат.

              p Только при совокупности всех инструментов оптимизация для поисковых систем даст нужный результат. Среди перечисленных пунктов нет более или менее важных — каждый работает на задачу клиента.  

              h2 Можно ли заняться СЕО-продвижением самостоятельно              

              p Поисковая оптимизация — это задача исключительно для профессионалов. Важно понимать, что двухнедельные или двухмесячные курсы по этому направлению не дадут владельцу площадки никакой полезной информации. Профессионалы накапливают свой опыт годами, а еще они погружены в сферу на 100%. Это нужно для того, чтобы быстро отбрасывать устаревающие инструменты и включать в работу новые. По такому принципу и работает команда Brainlab.

              h2 SEO-продвижение в Киеве: кому нужны такие услуги

              p Если ввести в поисковиках — «Гугле» или «Яндексе» — любой запрос с востребованным товаром или такой же услугой, то в выдаче появится колоссальное количество сайтов. Это яркая демонстрация того, насколько высока конкуренция абсолютно в любой сфере. Не нужно забывать и про то, что многие бизнесы конкурируют не только в рамках своих городов или на территории всей Украины — часто приходится соперничать с международными компаниями, которые обеспечивают доставку за границу или оказывают интернет-услуги, не привязанные к географии.

              p На этом фоне становится ясно: заказать оптимизацию сайта нужно как можно быстрее. Конкуренция никуда не пропадет — она будет расти день ото дня, месяц от месяца. Чем раньше начнутся работы по совершенствованию площадки и привлечению аудитории, тем больше шансов у бизнеса выстоять в этой неимоверной гонке.

              h2 Оптимизация сайтов в Киеве от Brainlab: наш подход

              p У нас вы можете заказать SEO-оптимизацию под Yandex или под Google на выгодных условиях. Необязательно для этого находиться в Киеве — мы работаем с клиентами из разных точек Украины.

              h2 Обращаясь к команде Brainlab, вы получаете:

              ul 
                li Структурированный подход, позволяющий разработать подробный план действий по SEO-услугам. При этом учитывается особенность сферы, деятельность наиболее сильных конкурентов, анализируется весь рынок.
                li Комплексную работу с использованием самых современных инструментов. Наша команда очень гибко подходит к процессу продвижения, делая ставку на работающие решения.
                li Доступные цены. CEO-оптимизация не может быть слишком дешевой, потому что задействует массу знаний и навыков, которые профессионалы по крупицам собирают в течение нескольких лет. Но мы можем предложить клиентам адекватный подход — с учетом полезности услуги, а также бюджета заказчика.
                li Постоянную отчетность, на основе которой видно, какая работа была проделана и какой результат она принесла.

              p Услуги от Brainlab — это реальная возможность подняться в ТОП выдачи популярных поисковиков, привлечь хороший трафик на сайт и познакомить как можно больше людей с вашим проектом или товаром. И отзывы наших довольных клиентов это подтверждают. Воспользуйтесь этой возможностью и вы!   
            .about__img   
                img(src="assets/img/logo-o.svg", alt="")
          .more.about-btn-js
            span.open Узнать больше
            span.close Скрыть

      include includes/form
    include includes/footer/footer
    include includes/modal-window

  include includes/scripts 
